{% extends 'base.html' %}

{% block head %}
<title>Site</title>
{% load static %}
<link rel = "stylesheet" href="{% static 'style.css' %}" type="text/css">
{% endblock %}

{% block body %}
<h1>Site</h1>
<div class="d-grid gap-2 d-md-block">
        <a href="/explore/" class="btn btn-info" role="button">Explore</a>
        <a href="/profile/" class="btn btn-info" role="button">Profile</a>
        <a href="/logout/" class="btn btn-info" role="button">Logout</a>
</div>

<div class="mainbod">
    <h2 align="left">Explore</h2>
    <ul>
    {% for account in all_accounts %}
        <li> <a href="/explore/{{account}}/" class="btn btn-info" role="button">{{ account }}</a>
            {% endfor %}
    </ul>
</div>
{% endblock %}